.hotelImg{
height: 500px;
width: 500px;
background-color:  rgb(132,136,139);
}
.contentdiv{
    margin-top:25px;
    margin-right:25px;
    margin-bottom:0;
    margin-left:25px;
}
.bookingform{
    margin-top:0px;
    margin-right:25px;
    margin-bottom:25px;
    margin-left:25px;

}