html, body {
    min-height: 100%;
    margin: 0;
}
.logoImg{
    height: 60px;;
    width: 60px;
    border-radius: 50%;
}
.smlogo {
    align-items: left;
    width:22px;
    height:20px;
  }
  .hotelImg{
    height: 250px;
    width: 250px;
    background-color:  rgb(132,136,139);
}
.contentdiv{
    margin: 1%;
}
.hotelItem{
    background-color:rgb(132,136,139);
    width: 40%;
    margin:1%;
}