.hotelImg{
    height: 350px;
    width: 350px;
}
.contentMain{
background-color: rgb(132,136,139);
width: 50%;
height: 20%;
margin-top: 2%;
margin-left: 25%;
margin-bottom: 2%;
justify-content: center;
}